<mat-card>
  <mat-card-header>
    <mat-card-title>Ostips !</mat-card-title>
    <mat-card-subtitle>Osti de tips !</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Bill</mat-label>
        <input type="number" matInput placeholder="0" formControlName="bill" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tips</mat-label>
        <input matInput placeholder="Tips" formControlName="tips" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" formControlName="total" />
      </mat-form-field>

      <div>
        <mat-slider min="1" max="30" step="1">
          <input matSliderThumb value="15" formControlName="percentTips" />
        </mat-slider>
        <span>{{ percentTips }}%</span>
      </div>

      <div>
        <mat-slider max="10" min="1" step="1">
          <input matSliderThumb value="15" formControlName="split" />
        </mat-slider>
        <span>{{ split }}</span>
      </div>
      <mat-form-field>
        <mat-label>Part of Bill Individualy</mat-label>
        <input matInput formControlName="partOfBillIndividualy" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tips Individualy</mat-label>
        <input matInput formControlName="tipsIndividualy" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Total Individualy</mat-label>
        <input matInput formControlName="totalIndividualy" readonly />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
