<mat-card>
  <mat-card-header>
    <mat-card-title>Ostips !</mat-card-title>
    <mat-card-subtitle>Osti de tips !</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input type="number" matInput placeholder="Bill" formControlName="bill" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tips" formControlName="tips" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Total" formControlName="total" />
      </mat-form-field>
      <div>
        <mat-slider [max]="30" [min]="2" [step]="1" formControlName="percentTips"> </mat-slider><span>{{ percentTips }}%</span>
      </div>

      <div>
        <mat-slider [max]="10" [min]="1" [step]="1" formControlName="split"> </mat-slider><span>{{ split }}</span>
      </div>

      <mat-form-field>
        <input matInput placeholder="Part of Bill Individualy" formControlName="partOfBillIndividualy" readonly />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tips Individualy" formControlName="tipsIndividualy" readonly />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Total Individualy" formControlName="totalIndividualy" readonly />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
